$color-praimary: #27cffe;
$color-secondary: #f8ba5d;
$color-terciary: #eee;

$font-praimary: #fffffd;
$font-secondary: #1b2632;
$font-terciary: #d7670a;

.text-center {
  text-align: center;
}

$text-primary: "Open Sans", sans-serif;
$text-secondary: "Fredoka", sans-serif;
$text-terciary: "Playfair Display SC", serif;

